
<% @songs.each do |p| %>
  <li><%= p.artist.name%> - <%=p.title%></li>
<% end %>





it "lists songs in 'Artist Name - Song Title' format" do
    visit songs_path
    expect(page).to have_link("Daft Punk - The Grid", href: song_path(@song))
  end